.pagina-desenv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .pagina-desenv h1 {
    font-size: 2rem;
    color: #ff5733; /* cor alaranjada */
  }
  
  .pagina-desenv p {
    font-size: 1.2rem;
    color: #555;
  }
  